.App {
  text-align: center;
}

/* Square Container */

.abContainer {
  position: relative;
  display: block;
  position: relative;
  min-width: 16px;
  min-height: 16px;

}
.abContainer:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* Bases */

.bases {
  position: absolute;
  width: 60%;
  margin: 20%;
  transform: rotate(45deg);
  border-color: black;
  border-width: 3px; 
  text-align: center;
}
.bases:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.empty {
  border-style: dotted;
}
.outlineToFirst {
  border-style: dotted solid dotted dotted;
}
.outlineToSecond {
  border-style: solid solid dotted dotted;
}
.outlineToThird {
  border-style: solid solid dotted solid;
}
.outlineToHome {
  border-style: solid;
}
.fill {
  border-style: solid;
  background-color: #000;
}

/* Bases - Result Display */

.firstBaseResult {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: center;
  font-size: smaller;
  line-height: 100%;
}
.secondBaseResult {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  font-size: smaller;
  line-height: 100%;
}
.thirdBaseResult {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  font-size: smaller;
  line-height: 100%;
}
.homeResult {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: center;
  font-size: smaller;
  line-height: 100%;
}

/* Bases - Out Markers */

.outMarker {
  position: absolute;
  transform: rotate(45deg);
  text-align: center;
  font-size: larger;
  font-weight: 600;
  line-height: 100%;
}

.secondBaseOutMarker {
  transform: rotate(45deg);
  top: 10px;
  right: 30px;
}
.thirdBaseOutMarker {
  transform: rotate(-45deg);
  top: 28px;
  left: 12px;
}
.homePlateOutMarker {
  transform: rotate(45deg);
  bottom: 12px;
  left: 32px;
}


/* Batter Out Results Display */

.outResult {
  position: absolute;
  font-size: larger;
  font-weight: 750;
  padding-top: 35%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 100%;
  text-shadow: 0px 0px 2px white;
}

/* Out Display */

.out {
  position: absolute;
  bottom: -12px;
  right: -12px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #000;
  color: #fff;
  text-align: center;
}

/* Count Display */

.countBox {
  position: absolute;
  margin: 0;
  width: 8px;
  border-style: outset;
  border-color: black;
  border-width: 2px;
  left: 0px;

}
.active {
  background-color: grey;
}
.countBox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.ball1 {
  top: 0px;
}
.ball2 {
  top: 8px;
}
.ball3 {
  top: 16px;
}
.strike1 {
  bottom: 8px;
}
.strike2 {
  bottom: 0px;
}

/* Inning Change Line */

.inningChange {
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 65%;
  transform: rotate(45deg);
  border-style: hidden solid hidden hidden;
  border-color: black;
  text-align: center;
}
.inningChange:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}