.App {
  text-align: center;
}

.numBox {
  text-align: center;
}

.abContainer {
  position: relative;
}

/* Bases */

.bases {
  position: relative;
  width: 50%;
  margin: 25%;
  transform: rotate(45deg);
  border-style: dotted;
  border-color: black;
  border-width: 2px; 
  text-align: center;
}
.bases:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* Results Display */

.result {
  position: absolute;
  font-size: larger;
  font-weight: 750;
  padding-top: 35%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 100%;
  text-shadow: 0px 0px 2px white;
}

/* Out Display */

.out {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #000;
  color: #fff;
  position: absolute;
  top: 70%;
  left: 70%;
  text-align: center;
}

/* Count Display */

.countBox {
  position: absolute;
  margin: 0;
  width: 8px;
  border-style: outset;
  border-color: black;
  border-width: 2px;
}
.active {
  background-color: grey;
}
.countBox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#ball1 {
  left: 4px;
  top: 4px;
}
#ball2 {
  left: 4px;
  top: 12px;
}
#ball3 {
  left: 4px;
  top: 20px;
}
#strike1 {
  left: 12px;
  top: 4px;
}
#strike2 {
  left: 12px;
  top: 12px;
}

/* Inning Change Line */

.inningChange {
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 65%;
  transform: rotate(45deg);
  border-style: hidden solid hidden hidden;
  border-color: black;
  text-align: center;
}
.inningChange:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}